---
import clsx from "clsx";
import Button from "../all-pages/button.astro";
import Img from "../all-pages/img.astro";
const { title, reverse, image, path, text } = Astro.props;
---

<div
  class={clsx(
    "flex justify-evenly gap-8 px-0 lg:px-12",
    reverse ? "flex-col lg:flex-row-reverse" : "flex-col lg:flex-row",
  )}
>
  <div class="flex flex-col gap-4 justify-center">
    <a class="border-b-4 border-secondary-500 text-2xl  font-bold mx-auto" href={path}>{title}</a>
    <p class="max-w-lg mx-auto">
      <slot />
    </p>
    <Button link={path} text={text}></Button>
  </div>
  <Img src={image}></Img>
</div>
