---
import NavSemester from "./nav-semester.astro";
const { title, pathname, subjets, credits} = Astro.props;
---

<section >
  <div class="py-4 justify-center">
    <NavSemester pathname={pathname} href="/semestre/I" name="I" />
    <NavSemester pathname={pathname} href="/semestre/II" name="II" />
    <NavSemester pathname={pathname} href="/semestre/III" name="III" />
    <NavSemester pathname={pathname} href="/semestre/IV" name="IV" />
    <NavSemester pathname={pathname} href="/semestre/V" name="V" />
    <NavSemester pathname={pathname} href="/semestre/VI" name="VI" />
    <NavSemester pathname={pathname} href="/semestre/VII" name="VII" />
    <NavSemester pathname={pathname} href="/semestre/VIII" name="VIII" />
    <NavSemester pathname={pathname} href="/semestre/IX" name="IX" />
    <NavSemester pathname={pathname} href="/semestre/X" name="X" />
  </div>
  <div class="p-4 border-4 rounded-md border-primary-500">
    <div>
      <h3 class="text-2xl font-semibold">
        {title}
      </h3>
    </div>
    <div class="grid grid-flow-col-dense font-medium py-4">
      <h4>Materias: {subjets}</h4>
      <h4>Creditos: {credits}</h4>
    </div>
   
    <div class="grid grid-flow-col-dense border-4 border-secondary-600/80 p-4 font-semibold">
      <div class="grid grid-rows  ">
        <h6>MATERIA</h6> 
      </div>
      <div class="grid grid-rows">
        <h6>CREDITOS</h6>
      </div>
      <div class="hidden md:block">
        <h6 >PRE-REQUISITOS</h6>
      </div>
      <div class="hidden md:block">
        <h6>MICROCURRICULUM
        </h6>
      </div>
    </div>
  </div>
</section>

