---
const { title, path, isActive, text} = Astro.props;
import Button from "../all-pages/button.astro";
---
<article class="grid grid-rows-card border-4 border-primary-400 rounded-lg gap-4 p-4">
  <nav class="flex justify-center">
    <a
      href={path}
      target={isActive ? "_blank" : null}
      class="text-center text-2xl  font-bold border-b-4 border-secondary-500"
    >
      {title}
    </a>
  </nav>
  <p>
    <slot />
  </p>
  <Button link={path} isActive={isActive} text={text}></Button>
</article>
