---
const { title, path, isActive, text} = Astro.props;
import Button from "../all-pages/button.astro";
import TextAncle from "../all-pages/text-anchor.astro";
---
<article class="grid grid-rows-card border-4 border-primary-400 rounded-lg gap-4 p-4">
  <nav class="flex justify-center">
    <TextAncle path={path} isActive={isActive} title={title}></TextAncle>
  </nav>
  <p>
    <slot />
  </p>
  <Button link={path} isActive={isActive} text={text}></Button>
</article>
