---
import Banner from "../../component/all-pages/banner.astro";
import Layout from "../../component/layouts/layout.astro";
import Layout2 from "../../component/layouts/layout2.astro";
import BreadCrumbs from "../curriculum-page/bread-crumbs.astro";
const { title, pathname, path, image } = Astro.props;
---

<Layout pathname={pathname} title={title}>
  <div class="gap-8">
    <Banner title={title} image={image} />
    <Layout2>
      <BreadCrumbs pathname={pathname} title={title} path={path} />
      <slot />
    </Layout2>
  </div>
</Layout>
